@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(14, 14, 14);
}

.generic-table > thead > tr > td,
.generic-table > tbody > tr > td,
.generic-table > tfoot > tr > td {
  font-weight: 700;
  border: 1px solid rgb(14 165 233);
  background-color: rgb(15 23 42);
  padding: 0.2rem;
}
